#global {
 width:100%;
 margin: 0 auto 0 auto;
}
#cabecera {
 width:100%;
 margin: 0 auto 0 auto;
 background-color: #DA803E;
}
#navegacion {
 width:100%;
 height:30px;
 padding-top:8px;
 margin: 0 auto 0 auto;
 background-color: #B4CD00;
}
#principal {
 width:50%;
 margin: 0 auto 0 auto;
 background-color: #FFCD68;
 float: left;
 font-size:20px;
}
#lateral {
 width:50%;
 margin: 0 auto 0 auto;
 background-color: #B4FF68;
 float: right;
}
#pie {
 width:100%;
 margin: 0 auto 0 auto;
 background-color: #B4C355;
 position:absolute;
 bottom: 8px;
 clear: both;
}
body {
 background-color: #E2F47C;
}
